.siteWrapper {
  width: 1710px;
  margin: auto;
  margin-top: 40px;
  overflow: hidden;
}

.buyUser {
  width: 320px;
  height: 973px;
  border-radius: 4px;
  background: #f8f8f8;
  float: left;
  position: relative;
}

.userPhoneAndName {
  width: 100%;
  height: 307px;
  background-image: url("https://vm.gtimg.cn/tencentvideo/vstyle/web/v6/style/img/user/bg_vip.png");
  background-size: 100% 100%;
  text-align: center;
}

.user {

  width: 100%;
  padding-top: 40px;
  height: 267px;
  position: relative;
}

.photo {
  width: 80px;
  height: 80px;
  margin: auto;
  border-radius: 50%;
  overflow: hidden;
}

.photo img {
  width: 100%;
  height: 100%;
}

.userName {
  font-size: 16px;
  color: #111;
  margin-top: 15px;
}

.vip {
  height: 88px;
}

.vipFont {
  color: #999;
  font-size: 12px;
}

.vip a {
  display: block;
  width: 160px;
  height: 40px;
  background-color: #e3b54c;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto 10px;
  font-size: 14px;
  color: #fff;
}

.vip a:hover{
  color: fff;
}
.userVip {
  display: block;
  margin: auto;
  color: #999;
  font: 12px/1.5 PingFangSC-Regular,
    Tahoma,
    Microsoft Yahei,
    sans-serif;
}

.userVip:hover {
  background: none;
  color: #999;
}

.uploadPng {
  position: absolute;
  opacity: 0;
  right: 127px;
  top: 48px;
}

.ivu-btn-icon-only {
  width: 65px;
  height: 65px;
}

.userNavigate {
  width: 280px;
  height: 420px;
  padding: 20px;
  color: #666;
  font: 12px/1.5 PingFangSC-Regular,
    Tahoma,
    Microsoft Yahei,
    sans-serif;
}
.userItem{
  width: 100%;
  height: 43px;
}

.userItem a{
  font-size: 15px;
  color: #666;
  display: block;
  padding-left: 40px;
}
.userItem a:hover{
  color: #FF5C38;
}
.creationItem{
  color: #666;
  font-size: 15px;
  border-bottom: 1px solid #eee;
  padding: 20px 0px 20px 60px;
}

.userChannelInfo{
  color: #666;
  font-size: 15px;
  border-bottom: 1px solid #eee;
  padding: 20px 0px 20px 0px;
}

.userChannelInfo a{
  display: block;
  margin-left: 60px;
  color: #666;
}

.channelInfo{
  width: 280px;
  height: 55px;
  display: flex;
  margin-left: 5px;
  margin: 25px 0px 0px 15px;
}
.info{
  flex: 1;
}
.info span{
  display: block;
  text-align: center;
}
.infoNumber{
  font-size: 24px;
  color: #111;
      font-family: numFont,
      PingFangSC-Regular,
      Tahoma,
      Microsoft Yahei,
      sans-serif;
}
.infoFont{
  font-size: 13px;
}

.creationItem:hover{
  color: #FF5C38;
}
.userChannelInfo a:hover{
  color: #FF5C38;
}

.buyShop{
  float: right;
  width: 1350px;
}
.ivu-table-wrapper{
  border-radius: 4px;
}
.ivu-table-header{
 background-color: #f8f8f8;
}
.ivu-table-row{
  text-align: center;
}

.ivu-page-simple{
  width: 190px;
  margin: auto;
  margin-top: 15px;
}

.ivu-page-simple-pager input{
  width: 45px !important;
}

.buyShop td{
  height: 65px;
}

.passwordBox{
  width: 200px;
  height: 237px;
  position: absolute;
  bottom: 229px;
  right: -40px;
  z-index: 1;
  background-color: rgb(255, 227, 165);
  border-radius: 10px;
  opacity: 0.7;
}
.passwordBox input{
  margin: auto;
  border-radius: 5px;
  border: none;
  outline: none;
  width: 150px;
  height: 30px;
  margin-top: 23px;
  padding-left: 10px;
  display: block;
}

.passwordBox button{
  margin-left: 24px;
  border-radius: 5px;
  border: none;
  outline: none;
  display: block;
  width: 50px;
  height: 30px;
  margin-top: 24px;
}

.ivu-modal-footer{
  display: none;
}
.ivu-modal-body button{
  margin-left: 15px;
}
.ivu-modal{
  width: 461px !important;
}